<div>
   <%=  image_tag "parqueo_1.jpg", :class =>'home-img-parque' %> 
</div>

<section class="container home-detalle">
    <div class="row item text-center active">
        <div class="col-sm-4">
            <div>
                <%=  image_tag "how-it-works-search.png", :class =>'home-img-info' %> 
            </div>
            <div>
                <h4>Search</h4>
            </div>
            <div>
                <p>Search and compare all available parking options and prices at thousands of parking lots and garages in 40 cities in real-time.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <%=  image_tag "how-it-works-map.png", :class =>'home-img-info' %> 
            </div>
            <div>
                <h4>Book</h4>
            </div>
            <div>
                <p>Pre-purchase the perfect spot and have a guaranteed space waiting for you when you need it.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <%=  image_tag "how-it-works-park.png", :class =>'home-img-info' %> 
            </div>
            <div>
                <h4>Park Happy</h4>
            </div>
            <div>
                <p>Redeem your purchase seamlessly at your selected location! It’s that easy. Save time and money with hassle-free parking.</p>
            </div>
        </div>
    </div>
</section>




