/*Login*/
.login{
   margin-left: 20%;
   margin-right: 20%;
}
.navbar-default{
    background-color: #3A3838;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #8E8989;
}

a:visited {
    color: #FFFFFF;
}

.navbar-default a{
    color: #FFFFFF;
}
.home-footer p{
    color: #FFFFFF;
}
.home-footer{
    margin-top: 30px;
}
/*Home*/
.home-img-parque{
    width: 100%;
    max-height: 500px;
    min-height: 300px;
}

.home-detalle{
    margin-top:40px;
}

.home-footer {
    background-color: #272727;
    bottom: 0;
    color: #aaa;
    left: 0;
    overflow: hidden;
    right: 0;
    width: 100%;
    min-height: 50px;
}

#admin